---
  apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: kubevirt-csi
    namespace: INFRA_NAMESPACE
  ---
  apiVersion: rbac.authorization.k8s.io/v1
  kind: Role
  metadata:
    name: kubevirt-csi
    namespace: INFRA_NAMESPACE
  rules:
  - apiGroups: ["cdi.kubevirt.io"]
    resources: ["datavolumes"]
    verbs: ["get", "create", "delete"]
  - apiGroups: ["kubevirt.io"]
    resources: ["virtualmachineinstances"]
    verbs: ["list"]
  - apiGroups: ["subresources.kubevirt.io"]
    resources: ["virtualmachines/addvolume", "virtualmachines/removevolume"]
    verbs: ["update"]
  ---
  apiVersion: rbac.authorization.k8s.io/v1
  kind: RoleBinding
  metadata:
    name: kubevirt-csi
    namespace: INFRA_NAMESPACE
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: Role
    name: kubevirt-csi
  subjects:
  - kind: ServiceAccount
    name: kubevirt-csi
    namespace: INFRA_NAMESPACE
  ---